@use "../../styles/partials/_globals.scss" as *;
@use "../../styles/partials/_variables.scss" as *;
@use "../../styles/partials/_mixins.scss" as *;

.error {
    color: red;
    font-size: 0.9rem;
    margin-top: 0.2rem;
  }
  
  input {
    border: 1px solid #ccc;
    padding: 0.5rem;
    margin-bottom: .5rem;
  }
  
  input:invalid {
    border-color: red;
  }
  
  input:focus {
    border-color: #007bff;
    outline: none;
  }

.form {
  display: flex;
  justify-content: center;
  
  

  &__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: $color-gray;
    margin: 2rem 18rem;

  }

  &__header {
    margin: 2rem 0rem;
    text-transform: uppercase;
    
  }
}