@font-face {
    font-family: "Nature Beauty";
    src: local("Nature Beauty Regular"),
    url("../assets/fonts/NatureBeautyPersonalUse-9Y2DK.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}