$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;

$font-family: 'Dosis';

$color-clear: #F4FAFC;
$color-dark-blue: #0b1944;
$color-slate-blue: #3c4f6e;
$color-gray-blue: #a5b7c3;
$color-gray: #d9d8dd;
