@use "./styles/partials/_globals.scss" as *;
@use "./styles/partials/_variables.scss" as *;
@use "./styles/partials/_mixins.scss" as *;


body {
    font-family: $font-family;
}

.image-card {
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px;
    border-radius: 10px;
}

img {
    width: 100%;
    height: auto;
}