@use "../../styles/partials/_globals.scss" as *;
@use "../../styles/partials/_variables.scss" as *;
@use "../../styles/partials/_mixins.scss" as *;

.error404 {
    display: flex;
    margin: 8rem;
    justify-content: center;
    font-size: 2rem;
    font-weight: 600;

    &__button-wrapper{
        display: flex;
        justify-content: center;
    }

    &__button {
        display: flex;
        align-items: center; 
        text-decoration: none;
        justify-content: center;
        font-size: 1rem;
        padding: .7rem;
        background-color: $color-clear;
        border-radius: .3125rem;
        border: .0313rem solid $color-dark-blue;
        color: $color-black;
        text-transform: uppercase;
        font-weight: 600;
        transition: color 0.3s ease;
        cursor: pointer;
        width: 20%;

        &:hover {
            background-color: $color-gray-blue
        }
    }
}